:root {
  --square-size: 2rem;
  --button-default-color: lightgrey;
  --button-hover-color: grey;
  --button-clicked-color: darkgrey;
  --square-empty-color: lightgrey;
  --square-wall-color: black;
  --square-start-color: blue;
  --square-end-color: green;
  --square-consider-color: darkred;
  --square-path-color: red;
}

html {
  font-size: 14px;
}

.container {
  max-width: max-content;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Table */
table {
  margin: auto;
}

/* Button */
button {
  background-color: var(--button-default-color);
  border: none;
  box-shadow: none;
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem;
}

button:hover {
  background-color: var(--button-hover-color);
}

button.clicked {
  background-color: var(--button-clicked-color);
}

/* Square Styling */
.square {
  width: var(--square-size);
  height: var(--square-size);
  border-radius: 0.5rem;
}

.squareEMPTY {
  background-color: var(--square-empty-color);
}

.squareWALL {
  background-color: var(--square-wall-color);
}

.squareSTART {
  background-color: var(--square-start-color);
}

.squareEND {
  background-color: var(--square-end-color);
}

.squarePATH {
  background-color: var(--square-path-color);
}

.hoverEMPTY div:hover:not(.squareEND) {
  background-color: var(--square-empty-color);
  cursor: cell;
}

.hoverWALL div:hover:not(.squareWALL) {
  background-color: var(--square-wall-color);
  cursor: cell;
}

.hoverSTART div:hover:not(.squareSTART) {
  background-color: var(--square-start-color);
  cursor: cell;
}

.hoverEND div:hover:not(.squareEND) {
  background-color: var(--square-end-color);
  cursor: cell;
}