:root {
  --square-size: 2rem;
  --square-empty-color: lightgrey;
  --square-wall-color: black;
  --square-start-color: blue;
  --square-end-color: green;
  --square-path-color: red;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Square Styling */
.square {
  width: var(--square-size);
  height: var(--square-size);
}

.squareEmpty {
  background-color: var(--square-empty-color);
}

.squareWall {
  background-color: var(--square-wall-color);
}

.squareStart {
  background-color: var(--square-start-color);
}

.squareEnd {
  background-color: var(--square-end-color);
}

.squarePath {
  background-color: var(--square-path-color);
}